/TestAutomationDemo
/simple-webapp/.vscode/
/.idea/
/demoparent/.vscode/
/demoparent/src/
/simple-webapp/target/
/testdemo/.vscode/
/testdemo/src/test/e2e/cypress/downloads/
/testdemo/src/test/e2e/cypress/fixtures/
/testdemo/src/test/e2e/cypress/screenshots/
/testdemo/src/test/e2e/cypress/reports/features/
/testdemo/src/test/e2e/reports/cucumber-report.html/
/testdemo/src/test/resources/chrome-linux64/
/testdemo/src/test/resources/chrome-linux64/hyphen-data/
/testdemo/src/test/resources/chrome-linux64/locales/
/testdemo/src/test/resources/chrome-linux64/MEIPreload/
/testdemo/src/test/resources/chrome-linux64/PrivacySandboxAttestationsPreloaded/
/testdemo/src/test/resources/chrome-linux64/resources/accessibility/
/testdemo/src/test/resources/chrome-linux64/resources/accessibility/reading_mode_gdocs_helper/
/testdemo/src/test/resources/chrome-linux64/resources/inspector_overlay/
/testdemo/src/test/resources/chrome-linux64/WidevineCdm/
/testdemo/src/test/resources/chrome-linux64/WidevineCdm/_platform_specific/linux_x64/
/testdemo/src/test/resources/chromedriver-linux64/
/testdemo/src/test/resources/firefox/
/testdemo/src/test/resources/firefox/browser/
/testdemo/src/test/resources/firefox/browser/chrome/icons/default/
/testdemo/src/test/resources/firefox/browser/features/
/testdemo/src/test/resources/firefox/defaults/pref/
/testdemo/src/test/resources/firefox/fonts/
/testdemo/src/test/resources/firefox/gmp-clearkey/0.1/
/testdemo/src/test/resources/firefox/icons/
/testdemo/src/test/resources/firefox/updates/
/testdemo/src/test/resources/firefox/updates/0/
/testdemo/src/test/resources/firefox/updates/downloading/
/testdemo/src/test/resources/chromedriver
/testdemo/src/test/resources/geckodriver
/testdemo/src/test/resources/LICENSE.chromedriver
/testdemo/src/test/resources/THIRD_PARTY_NOTICES.chromedriver
/testdemo/src/test/resources/chrome-linux64/extensions/
/testdemo/src/test/resources/uk/didwania/
